<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include ('./partials/navbar') %>

    <h3>Welcome, <%= borrower[0].name %></h3>


    <h4>Add Book To Borrow</h4>
    <form action="/books/borrow" method="POST">
        <select name="BorrowerId" id="">
            <option value="<%= borrower[0].id %>" selected><%= borrower[0].name %></option>
        </select>
        <select name="BookId" id="">
            <% for (let i = 0; i < book.length; i++) { %>
                <option value="<%= book[i].id %>"><%= book[i].title %></option>
            <% } %>
        </select>
        <button type="submit">Borrow Book</button>
        <a href="/books">Cancel</a>
    </form>


    <h4>List Borrowed Book</h4>
    <table>
        <th>Title</th>
        <th>Action</th>
        <% for (let i = 0; i < data.length; i++) { %>
            <tr>
                <td><%= data[i].title %></td>
                <td><a href="">Return</a></td>
            </tr>
        <% } %>
    </table>
</body>
</html>